* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  height: auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  background-color: #f5f7fb;
  padding: 20px;
}
.btn {
  width: 192px;
  height: 52px;
  border-radius: 15px;
  color: #f5f7fb;
  background-color: #4d5b9e;
  font-family: Karla;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: none;
}
.heading {
  color: #293264;
  text-align: center;
  font-family: Karla;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.des {
  margin-bottom: 28px;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.optnContainer{
  display: flex;
  justify-content: flex-start;
  gap: 10px;

}
.question{
  padding: 4px;
}
.question h3{
  padding-bottom: 6px;
}
.optBtn{
  color: green;
  background-color: whitesmoke;
  border-radius: 4px;
}